# Database Configuration
POSTGRES_DB=frame_management_development
POSTGRES_USER=frame_management
POSTGRES_PASSWORD=password

# Rails Configuration
RAILS_ENV=development
RAILS_MASTER_KEY=

# Database URL
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
